# Игнорируем базу данных (коммерческая тайна и тяжелый вес)
data/

# Игнорируем "мозги" модели (весят много, обновляются часто)
models/

# Игнорируем технический мусор Python и CatBoost
__pycache__/
catboost_info/

# Игнорируем системные файлы Windows
Thumbs.db
desktop.ini